body {
  font-family: "Libre Franklin", "Trebuchet MS", "Lucida Sans Unicode",
    "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: rgb(25, 25, 25);
}

body::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

body::-webkit-scrollbar-track {
  background: rgba(50, 50, 50);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(160, 160, 160);
  outline: 1px solid rgb(100, 120, 140);
}

p,
a,
span,
h2 {
  color: rgb(220, 220, 220);
  display: inline-block;
  line-height: 2rem;
}

p,
a,
span {
  font-size: 1.2rem;
}

h2,
h2 span {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500px;
}

h2 span {
  cursor: pointer;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500px;
}
